<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38840410793-5os91n8fjovj38te35p68969o41li4r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38840410793-5os91n8fjovj38te35p68969o41li4r4</string>
	<key>API_KEY</key>
	<string>AIzaSyDWtSAkdXtASo_Jy-S-v_UTHsVcKuxS6KE</string>
	<key>GCM_SENDER_ID</key>
	<string>38840410793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drakenetworks.pruneApp</string>
	<key>PROJECT_ID</key>
	<string>prune-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>prune-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38840410793:ios:dd0987d42a22a01d57bfb8</string>
	<key>DATABASE_URL</key>
	<string>https://prune-flutter.firebaseio.com</string>
</dict>
</plist>